@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --black: #231F20;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}



nav{
  display: flex;
  background-color: var(--black);justify-content: space-between;align-items: center;padding: 0px 20px;
border-bottom: 2px solid red;
}

nav img {
  width: 100px;
}

nav ul {
  display: flex;
  gap: 10px;

}

nav a{
color: white;
}


.home {
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 100px;
  gap: 20px;
  display: flex;
  background-color: var(--black);
  color: white;
  
}

.about {
  width: 50%;
}

.topics{
  width: 50%;
}



.articles-title{
  text-align: center;
  margin: 30px 0;
}

.articles-list{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 260px);
  gap: 20px;
}

.articles-list img {
  width: 100%;
}

.articles-list p {
  font-size: 16px;
}

.articles-list button {
  padding: 8px;
}



.article-page{
display: flex;
}

.article-page section:first-child{
width: 100%;
}

.single-article {
  width: 500px;
}

.single-article img{
  width: 100%;
}

.comment-box{
  height: 500px;
  overflow-y: scroll;
 
}

.comment-votes{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.comment{
  margin-bottom: 20px;
  background-color: rgb(255, 242, 219);
  padding: 14px;
}

.voting {
  display: flex;
  width: 200px;
  justify-content: space-between;
  font-size: 40px;
}

.form{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;

}

.form button {
  padding: 10px;
  background-color: tomato;
}

.form p {
  position: absolute;
  top: 11px;
  right: 9px;
}

@media only screen and (max-width: 800px) {

  .article-page{flex-direction: column;}
}